*{
    margin: 0;
    padding: 0;
}
#container
{
    background-color: black;
    width: 80%;
    height: 95vh;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 20% 60% 20%;
    justify-content: center;    
    border: 10px solid maroon;
    margin:auto;
}
h1
{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    border:1px solid black;
}
.diceContainer
{
    border: 1px solid;
}
#left
{
    background-color: slateblue;
}
#right
{
    background-color: yellowgreen;
}
.imgContainer
{
    width: 50%;
    height: 60%;
    margin: 15% 25%;
    /* border: 1px solid; */
}
.imgContainer>img{
    width: 100%;
    height: 100%;
}
#result{
    grid-column-start: 1;
    grid-column-end:3;
    text-align: center;
    font-size: xx-large;
    background-color: black;
    color: white;
}